<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">What is a facebook application?</h1>
    <p class="lead">Terrance & Nick | CSCI 428</p>
  </div>
</div>
<div class="container">
  <p class="lead">A facebook application is something that uses the facebook or Graph api.
    <br /> Often it's used to pull generic information for making accounts ....
    <br /> Examples include, Instagram shows mutual facebook friends, Spotify,makes the process of making an account easier.
  </p>

</div>
<%= image_tag("/images/facebook.jpg", :alt => "rss feed") %>
