<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">How to Create a Facebook App</h1>
    <p class="lead">Terrance & Nick | CSCI 428</p>
  </div>
</div>

  <div style="text-align:center">
    <h1 class="display-3">Try it out for yourself </h1>
    <p class="lead"> Click this link: </p>
  <%= link_to "Facebook Login", '/auth/facebook', {style:'font-size:3em'}%>
  <script src="/assets/javascripts/facebook_login.js" type="text/text/javascript"> </script>
</div>
