<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">How to Create a Facebook App</h1>
    <p class="lead">Terrance & Nick | CSCI 428</p>
  </div>
</div>
<div>
  <%= link_to "Facebook Login", '/auth/facebook' %>
  <p> Hello </p>
  <script src="/assets/javascripts/facebook_login.js" type="text/text/javascript"> </script>
</div>
