<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">How to Create a Facebook App with Ruby on Rails</h1>
    <p class="lead">Terrance & Nick | CSCI 428</p>
  </div>
</div>
<div style="text-align:center">
  <h1 class="display-4" style="text-align:center">The Koala Gem</h1>
  <div style="text-align:center">
    <p class="lead"style="text-align:center">
      Koala is a Facebook library for Ruby, supporting the Graph
      <br/>API (including the batch requests and photo uploads),
      <br/>the Marketing API, the Atlas API, realtime updates, test users, and OAuth validation.
   </p> </div>
 </div>
